html
  head
    link(rel='icon' href='https://fontawesome.com/v4/assets/ico/favicon.ico')
    title='Streams Repro'
  style.
    body {
      font-family: sans-serif;
      padding: 1em;
    }
  body
    block content
